:root{
    --font-size-small: 12px;
    /* normal font size 16px*/
    --font-size-large: 20px;
}



body{
    max-width: none;
    padding: 0;
    margin: 0;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    width: 100vw;
    height: 80px;
    background-color: black;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    padding: 0 34px;
}

.header-title{
    font-size: var(--font-size-large);
    font-weight: bold;
}

.header-version{
    color: grey;


}

.container{
    min-width: min(100vw, 800px);
    max-width: 1000px;
    padding: 0 34px;
}



.status-badge{
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: 500;
    height: 20px;
}

.status-badge.inprogress{
    background-color: hsl(37, 100%, 25%);
    /*color: hsl(37, 100%, 13%);*/
}

.status-badge.done{
    background-color: hsl(160, 100%, 13%);
    /*color: hsl(160, 100%, 13%);*/
}
.status-badge.todo{
    background-color: hsl(340, 98%, 23%);
    /*color: hsl(340, 98%, 23%);*/
}

.link-external svg{
    margin-left: 4px;
}

table{
    background-color: #181a1b;
    border-radius: 5px;
    padding: 10px;
}